<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/HyF.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/detalleUsuario.css">
  <script src="https://kit.fontawesome.com/6a7542e233.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <script src="/javascripts/seriesxgenero.js" charset="utf-8"></script>
  <script src="/javascripts/prevenirbusquedavacia.js" charset="utf-8"></script>
  <script src="/javascripts/busquedaAvanzada.js" charset="utf-8"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
  <script type="text/javascript" src="/javascripts/slick.min.js"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

  <link
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500|Aleo:400,700|Arbutus+Slab|Bowlby+One+SC|EB+Garamond:400,500|Gilda+Display|Merriweather:300|Noto+Serif+SC:400,500|Roboto:100|Source+Serif+Pro|Special+Elite|Staatliches|Zilla+Slab:500&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded:800|Bowlby+One+SC&display=swap"
    rel="stylesheet">
  
</head>
<body>
    <!-- div para la alerta de error -->
    <div class="error"> 
    
    </div>
    
    <header class="mainHeader">
      <div class="dosPalabras">  
      <a class="head" href= "/../veoVeo/home"><label for="">Inicio</label></a>
        <a class="resenias" href= "../login">MyReviews</a>
        </div>
      <h1>Veo<a href="/../veoVeo/home"><img src="/images/logo.png" alt=""></a>Veo</h1>
        <form class="form-buscador" action="../veoVeo/resultado" method="get" id="busqueda">
          <input class="buscadorsecundario inputHidden" type="text" name="buscadorsecundario" placeholder="Buscador" value="">
          <button type="submit">Enviar</button>
          <i class="fas fa-search" id="lupita"></i>
          <a href="../veoVeo/favoritas" ><i class="fas fa-heart"></i></a>
          <a href="#offcanvas-derecho" uk-toggle><i class="fas fa-filter"></i></a>
          <a href="../buscar" uk-toggle><i class="fas fa-users"></i></a>
        </form>    
      </header>

<main>
  <div class="todo">
      <h1 class="detalle">Detalle</h1>
        
      <ul class="uk-list"  id="detail">
            <li> Nombre: <%= detail.name %></li>
            <li>Fecha de nacimiento: <%= detail.birthday %></li>
            <li>Email: <%= detail.email %></li>
      </ul>

    <div>
        <h2 id="h2" style="color: white;">Reseñas de <%= detail.name %>:  </h2>

        <div uk-slider="center: true">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-3 uk-grid" id="comentario">
        <% for(let i = 0; i < detail.User_Reviews.length; i++) { %>
            <li class="comentario" style="border-left: 1px solid white"> 
                <div class="uk-card-body">
                    <p> Puntaje: <%=detail.User_Reviews[i].rating%> </p>
                    <p><%=detail.User_Reviews[i].text%></p>
                </div>
            </li> 
          <% } %> 
         </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</main> 

    <%- include('../partials/footer') %>
</body>
</html>

          
          
     