<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/HyF.css">
  <link rel="stylesheet" href="/stylesheets/infoxserie.css">
  <script src="/javascripts/infoxserie.js" charset="utf-8"></script>
  <script src="https://kit.fontawesome.com/6a7542e233.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <script src="/javascripts/seriesxgenero.js" charset="utf-8"></script>
  <script src="/javascripts/prevenirbusquedavacia.js" charset="utf-8"></script>
  <script src="/javascripts/busquedaAvanzada.js" charset="utf-8"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
  <script type="text/javascript" src="/javascripts/slick.min.js"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

  <link
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500|Aleo:400,700|Arbutus+Slab|Bowlby+One+SC|EB+Garamond:400,500|Gilda+Display|Merriweather:300|Noto+Serif+SC:400,500|Roboto:100|Source+Serif+Pro|Special+Elite|Staatliches|Zilla+Slab:500&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded:800|Bowlby+One+SC&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- div para la alerta de error -->
  <div class="error"> </div>

  <%- include('../partials/header') %>

  <main class="padre">

    <section class="listadegeneros desktop">
      <label for="">Generos</label>
      <div class="">
        <ul class="lista-generos">

        </ul>
      </div>

    </section>

    <!--menu oculoto para mobile creo LO DEJO PARA LAS MEDIA QUERY NO SE ASUSTEN :D -->
    <section class="mobile">
      <div class="menuOculto">

        <button type="button" name="gender">Slide</button>
        <a href="#offcanvas-izquierdo" uk-toggle><i class="fas fa-bars"></i></a>

        <div id="offcanvas-izquierdo" uk-offcanvas>
          <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h2>Generos</h2>
            <ul class="lista-generos">

            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="busquedaAvanzada">

        <div id="offcanvas-derecho" uk-offcanvas="flip: true">
          <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>Busqueda avanzada</h3>
            <form class="form-avanzado" action="./resultadoavanzado" method="get">
              <p class="busqueda"> Genero: </p>
              <select class="opcionesGenero" name="genero">
                <option value=""></option>
              </select>
              <br>
              <p class="busqueda"> Excluir: </p>
              <select class="excluir" name="excluir">
                <option value=""></option>
              </select>
              <br>
              <p class="busqueda"> Ordenar por: </p>
              <select class="orden" name="orden">
                <option value=""></option>
                <option value="vote_average.desc">Más votadas desc.</option>
                <option value="vote_average.asc">Más votadas asc.</option>
                <option value="first_air_date.desc">Fecha estreno desc.</option>
                <option value="first_air_date.asc">Fecha estreno asc.</option>
                <option value="popularity.desc">Popularidad desc.</option>
                <option value="popularity.asc">Popularidad asc.</option>
              </select>
              <br>
              <p class="busqueda"> Año de estreno:</p>
              <input class="year" type="number" name="year" value="first_air_date_year">
              <button type="submit" name="Buscar">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!--fin menu generos -->

    <div class="info">
      <div class="infoParticular">
        <div class="poster">
          <img src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png" alt="">
        </div>
        <div class="datos">
          <h1 class="nombre"> </h1>
          <p class="fechaDeOrigen"> </p>
          <p class="generosPertenecientes"> </p>
          <p class="lenguaje"> </p>
          <p class="sinopsis"> </p>
          <button type="submit" name="button" class="lasRecomendaciones"> Ver recomendaciones </button>
          <a href="" uk-icon="icon: heart" class="hearts favs"></a>
        </div>
      </div>
      <div class="trailerYresenia">
        <div class="trailers">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>

        <!--Formulario de Reseñas-->

        <div class="mainResenia">
          <h1 class="nombre">¡Dejanos tu opinión!</h1>
          <!-- <% if (typeof errores != "undefined") {%>
          <ul>
          <% for(let i=0; i < errores.length; i++) {%>
            <li>
              <%= errores[i] %> 
            </li>
            <% } %> 
          </ul> 
        <% } %>  -->
          <form action="/veoVeo/infoxserie" method="POST" class="resenia">
            <input type="hidden" name="id_serie" value="<%=id_serie%>">

            <div>
              <label for="">Email: </label><br>
              <input class="resenia" type="email" name="email" placeholder="Escriba aquí">

            </div>

            <div>
              <label for="">Contraseña:</label><br>
              <input class="resenia" type="password" name="password" placeholder="Escriba aquí" required>

            </div>

            <div>
              <label for="">Comentario:</label><br>
              <textarea name="comment" id="" cols="70" rows="7" required></textarea>
            </div>

            <div>
              <label for="">Puntaje (del 1 al 10, siendo 10 lo más alto)</label> <br>
              <input class="puntaje" type="text" name="rating" placeholder="nº"> <br>
            </div>
            <input class="enviar" type="submit" value="Enviar">
          </form>
        </div> <br>
      </div>
      <!-- carousel de recomendados-->
      <div uk-slider class="losRecomendados">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m recomendados">
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>

      <!-- resenias creadas  -->
      <% for (let i = 0; i < reviews.length; i++) { %>

      <article class="uk-comment" id="otrosComentarios">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid id="comentario">
          <div>
            <!--href tieene q ir al detalle usuario-->
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                href="#"><%=reviews[i].Review_User.name%></a>
            </h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
              <li>Creado: <%=reviews[i].created_at%></li>
              <li><a href="#">Editar</a></li>
              <li><a href="#">Borrar</a></li>
            </ul>
            <p class="puntaje"> Puntaje: <%=reviews[i].rating%> </p>
            <p><%=reviews[i].text%></p>

          </div>
        </header>
      </article>

      <% } %>
       

    </div>

      

  </main>

  <%- include('../partials/footer') %>
</body>

</html>