<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registro.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/HyF.css">
    <link rel="stylesheet" href="/stylesheets/myReview.css">
    <script src="https://kit.fontawesome.com/6a7542e233.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <script src="/javascripts/seriesxgenero.js" charset="utf-8"></script>
    <script src="/javascripts/home.js" charset="utf-8"></script>
    <script src="/javascripts/busquedaAvanzada.js" charset="utf-8"></script>
    <script src="/javascripts/prevenirbusquedavacia.js" charset="utf-8"></script>
  
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css"/>
    <script type="text/javascript" src="/javascripts/slick.min.js"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500|Aleo:400,700|Arbutus+Slab|Bowlby+One+SC|EB+Garamond:400,500|Gilda+Display|Merriweather:300|Noto+Serif+SC:400,500|Roboto:100|Source+Serif+Pro|Special+Elite|Staatliches|Zilla+Slab:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded:800|Bowlby+One+SC&display=swap" rel="stylesheet">
  
</head>
<body>
<!-- div para la alerta de error -->
      <div class="error">
    
      </div>
      
      <header class="mainHeader">
        <div class="dosPalabras">  
        <a class="head" href= "../veoVeo/home"><label for="">Inicio</label></a>
          <a class="resenias" href= "./users/misResenias">MyReviews</a>
          </div>
        <h1>Veo<a href="../veoVeo/home"><img src="/images/logo.png" alt=""></a>Veo</h1>
          <form class="form-buscador" action="../veoVeo/resultado" method="get" id="busqueda">
            <input class="buscadorsecundario inputHidden" type="text" name="buscadorsecundario" placeholder="Buscador" value="">
            <button type="submit">Enviar</button>
            <i class="fas fa-search" id="lupita"></i>
            <a href="../veoVeo/favoritas" ><i class="fas fa-heart"></i></a>
            <a href="#offcanvas-derecho" uk-toggle><i class="fas fa-filter"></i></a>
            <a href="../users/buscar" uk-toggle><i class="fas fa-user"></i></a>
          </form>
        </header>

    <main>
      <h1> Mis reseñas</h1>

    <% for (let i = 0; i < reseniasXusuario.length; i++) { %>

        <article class="uk-comment" >
          <header class="uk-comment-header uk-grid-medium uk-flex-middle"  uk-grid id= "miResenia">
                <!--href tieene q ir al detalle usuario--> 
                <div class="uk-comment-body" id="otrosComentarios"> 
                  <p class="puntaje"> Puntaje: <%=reseniasXusuario[i].rating%> </p>
                  <p class="comentario"><%=reseniasXusuario[i].text%></p>
                  
                  <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top" >
                      <li><a href="#"><%=reseniasXusuario[i].created_at%></a></li>
                      <li><a href="misResenias/edit/<%=reseniasXusuario[i].id%>">Editar</a></li>
                      <li><a href="#">Borrar</a></li>
                  </ul>
                </div> 
          </header>
      </article>
      
   
    <% } %>
  </main>



    <%- include('../partials/footer') %>
  
</body>
</html>